{% extends 'base.html' %} {% block content %}

<body>
  <style>
    .menu ul {
      display: inline-flex;
      margin: 50px;
    }

    .menu ul li {
      list-style: none;
      margin: 0 20px;
      color: b2b1b1;
      cursor: pointer;
    }

    .logo img {
      width: 30px;
      margin-top: -7px;
      margin-right: 48px;
    }

    .active {
      color: #19dafa !important;
    }

    .banner {
      width: 80%;
      height: 70%;
      top: 25%;
      left: 130px;
      position: absolute;
      color: black;
    }

    .app-text {
      width: 50%;
      float: left;
    }

    .app-text h1 {
      font-size: 43px;
      width: 640px;
      position: relative;
      margin-left: 40px;
    }

    .app-text p {
      width: 650px;
      font-size: 15px;
      margin: 30px 0 30px 40px;
      line-height: 25px;
      color: #919191;
    }

    .app-picture {
      width: 50%;
      float: right;
    }

    .app-picture img {
      width: 100%;
      margin-top: -20px;
      padding-left: 50px;
    }

    .app-text h2 {
      font-size: 43px;
      width: 640px;
      position: relative;
      margin-left: 40px;
    }

    .app-text a {
      width: 650px;
      font-size: 15px;
      margin: 30px 0 30px 40px;
      line-height: 25px;
      color: #919191;
    }

    .contactus-form {
      width: 500px;
      margin: 8% auto;
      padding: 50px 0;
      text-align: center;
      box-shadow: 0 20px 40px rgb(0, 0, 0);
    }

    .input-box {
      margin: 30px auto;
      width: 80%;
      position: relative;
      box-shadow: 0 8px 10px rgb(0, 0, 0);
    }

    .input-box input {
      width: 87%;
      height: 40px;
      border: none;
      background: #efefef;
      padding-left: 50px;
    }

    .form-button button {
      width: 130px;
      height: 40px;
      margin-left: 10%;
      display: block;
      border: 0;
      font-size: 16px;
      color: black;
      outline: none;
      background: linear-gradient(to right, #4caf50, #00bcd4);
      box-shadow: 0 8px 10px rgb(0, 0, 0);
      cursor: pointer;
    }
  </style>
  <div class="container">
    <div class="banner">
      <div class="app-text">
    
        <h2>About Us</h2>
        <p>
          <p>We are a team of passionate IT students providing informative services aimed 
            towards small to medium enterprises that lack the resources for security personnel. 
            Our goal of creating this website is to provide the relevant and current 
            information in regards to the security of networks, towards small businesses. 
            Our services provide a list of attacks commonly used against small businesses, 
            an updated list of major cyber-attacks, and best practices and policies that 
            organizations and employees can adhere to.</br></p>
        </p>
        <h2>Contact Us</h2>
        <form class="contactus-form">
          <div class="input-box">
            <input type="text" placeholder="name" required />
          </div>
          <div class="input-box">
            <input type="text" placeholder="phone" />
          </div>
          <div class="input-box">
            <input type="email" placeholder="email" required />
          </div>
          <div class="input-box">
            <input type="text" placeholder="type of enquiry" required />
          </div>
          <div class="input-box">
            <input type="text" placeholder="leave your message" required />
          </div>
          <div class="form-button">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
{% include 'footer.html' %}
{% endblock %}