{% extends 'base.html' %} {% block content %}

<style>
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .container {
    width: 100%;
    height: 100%;
    background: #42455a;
  }

  .menu ul {
    display: inline-flex;
    margin: 50px;
  }

  .menu ul li {
    list-style: none;
    margin: 0 20px;
    color: b2b1b1;
    cursor: pointer;
  }

  .logo img {
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
  }

  .active {
    color: #19dafa !important;
  }

  .banner {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: black;
  }

  .app-text {
    width: 50%;
    float: left;
  }

  .app-text h2 {
    width: 640px;
    position: relative;
    margin-left: 40px;
  }

  .app-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
  }

  .app-picture {
    width: 50%;
    float: right;
  }

  .app-picture img {
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
  }

  .app-text h2 {
    width: 640px;
    position: relative;
    margin-left: 40px;
  }

  .app-text a {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
  }
</style>

<div class="container">
  <div class="banner">
    <div class="app-text">
      <h2><center>Article Title</center></h2>
      <center><img src="x" alt="article image" /></center>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet atque
        sit earum tempore reiciendis cupiditate, est similique nam asperiores ea
        culpa cum quis placeat corporis nihil fugiat odit impedit voluptate?
        Quis animi, sint fugiat dolorem culpa expedita a, sunt vero voluptates
        necessitatibus quo cum fugit dolor vitae eligendi. Eos fugiat mollitia
        repellendus nemo dolorum doloremque. Perferendis eius nostrum,
        asperiores dignissimos ab quia, tempora qui velit numquam nihil possimus
        hic odit, laboriosam unde. Reiciendis, est? Veritatis perferendis
        deleniti mollitia, officiis adipisci sint recusandae est officia nobis
        deserunt hic doloribus molestiae repellat. Corporis nulla facilis
        accusamus sapiente totam velit ducimus! Blanditiis, enim.
      </p>
    </div>
  </div>
</div>

{% endblock %}
