<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CW2</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    />
  </head>
  <body>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }

      .container {
        width: 100%;
        height: 100%;
        background: #42455a;
      }
    </style>
    <div class="container">
      <div class="menu">
        <ul>
          <li class="logo"><img src="x" alt="logo image" /></li>
          <li class="active">Home</li>
          <li>Cybersecurity Best Practices</li>
          <li>About Us</li>
          <li>Future Updates</li>
        </ul>
      </div>
    </div>
  </body>
</html>
{% block content %} {% endblock %}
