{% extends 'base.html' %} {% block content %} {% load static %}

<body>
  <style>
    .menu ul {
      display: inline-flex;
      margin: 50px;
    }

    .menu ul li {
      list-style: none;
      margin: 0 20px;
      color: b2b1b1;
      cursor: pointer;
    }

    .logo img {
      width: 30px;
      margin-top: -7px;
      margin-right: 48px;
    }

    .active {
      color: #19dafa !important;
    }

    .banner {
      width: 80%;
      height: 70%;
      top: 25%;
      left: 130px;
      position: absolute;
      color: black;
    }

    .app-text {
      width: 50%;
      float: left;
    }

    .app-text h1 {
      font-size: 43px;
      width: 640px;
      position: relative;
      margin-left: 40px;
    }

    .app-text p {
      width: 650px;
      font-size: 15px;
      margin: 30px 0 30px 40px;
      line-height: 25px;
      color: #919191;
    }

    .app-picture {
      width: 50%;
      float: right;
    }

    .app-picture img {
      width: 100%;
      margin-top: -20px;
      padding-left: 50px;
    }

    .app-text h2 {
      width: 640px;
      position: relative;
      margin-left: 40px;
    }

    .app-text a {
      width: 650px;
      font-size: 15px;
      margin: 30px 0 30px 40px;
      line-height: 25px;
      color: #919191;
    }
  </style>
  <div class="container">
    <div class="banner">
      <div class="app-text">
        <h1>Jannet Lee Ted Security Association Pvt Ltd<br />Introduction</h1>
        <div class="app-picture">
          <img src="{% static 'JannetLee/images/mainpage.png' %}" alt="image for other articles" width="100" height="100" />
        </div>
        <p>
          Cyber-attacks have been quite prevalent in these past few years, and the increase in computing speeds has enabled cyber criminals to commit greater crimes in larger scales. Therefore, it is paramount for organizations with no specialized security team, to mitigate these risks, to be proactive in searching for hidden threats, and to react appropriately. </br></br>
          Statistically, an incident can cost an organization, on average, about USD 4,240,000 as of 2021 (Lohrmann, 2021). Furthermore, cyber-criminals are launching attacks worldwide on average, about 2,200 attacks daily (Norton, 2021). Therefore, small businesses need to protect their networks and assets as best they can to prevent or mitigate these attacks, as a successful attack on an organization has a great impact on their reputation and financial stability.</br></br>
          Therefore, we have developed this blogsite to provide SMEs the necessary information to patch security holes as they continue searching for professional advise.</br>
        </p>

        
        <div class="app-picture">
          <img src="{% static 'JannetLee/images/top3attacks.jpg' %}" alt="app-picture-main-article" width="600" height="500" />
        </div>
        <h2>What are these threats?</h2>
        <h3><u>Malware</u></h3>
        <p>
          Malware includes multiple other threats, summon ones include threats
          such as virus, worms, trojans, keyloggers, rootkits, botnets, and
          logic bombs. These malwares are all different in how they behave.
        </p>
        <p></p>
        <p>
          For instance, a virus is a malware that can execute a certain
          malicious task when the file they are attached to is opened or
          executed, therefore, a virus requires a medium, such as a file, to
          spread.
        </p>
        <p></p>
        <p>
          A worm on the other hand, does not require medium to spread, instead,
          they will actively search for ways to infect other computers, worms
          can also carry payloads, which are the pieces of code that executes in
          a device (Veracode, n.d.).
        </p>
        <p></p>
        <p>
          Trojans are malicious programs disguised as trustworthy software, they
          work by presenting themselves as a program that is benign, however,
          when the victim opens the program, it could infect the victim's
          device.
        </p>
        <p></p>
        <p>
          Keyloggers are not usually malware, as they can be used as a
          monitoring software in an organization, however, a malware keylogger
          would log keyboard clicks and save it in a file, the file would then
          be sent to the attacker to be used to get account logins.
        </p>
        <p></p>
        <p>
          Rootkits are malwares that can plant itself deep in your device files,
          and it could provide the attacker root access to the infected device
          (Regan & Belcic, 2021).
        </p>
        <p></p>
        <p>
          Botnets are malicious softwares that infect devices, and use said
          device to utilize its resources to create DDoS attacks against
          networks. The botnets would first infect a device, and report to the
          botmaster, where he/she could then use the infected device, along with
          other infected devices, to launch attacks.
        </p>
        <p></p>
        <p>
          Logic bombs are malwares that infect a device and remains docile until
          a specific condition is met. These malwares can be triggered by
          multiple factors, such as date.
        </p>
        <p></p>
        <h3><u>Ransomware</u></h3>
        <p>
          A ransomware works by first infecting a device, this can happen
          through malicious attachments in phishing emails (Checkpoint, n.d.).
          When a user opens the file, the ransomware will install itself on the
          victim’s device and encrypt all the files. After encrypting the files,
          the ransomware would then demand a set amount of money in order to
          decrypt the files.
        </p>
        <p></p>
        <p>
          An information to take note, is that it is not advisable to pay the
          demands for several reasons. Paying the ransom would not guarantee the
          recovery of your data, you would be paying criminals, and you would be
          a target for future ransomware attacks (NCSC, 2021)
        </p>
        <h3><u>Phishing</u></h3>
        <p>
          Phishing relies heavily on social engineering, therefore, it will
          typically involve less technical skills and more interpersonal skills.
          Attackers would typically first conduct some research on the victim’s
          information through several social platforms such as LinkedIn, and
          they would then email the victims (Gillis, 2020). The email would be
          based off of the information received through the reconnaissance phase
          in order to make it appear credible. The email would contain a link
          that would either lead the victim to a spoofed website created by the
          attacker, or a website that installs malware on the victim’s device.
          Usually, the link provided would lead the victim to a spoofed web page
          where it would ask the victim’s personal information such as credit
          card info, social security, etc. [Note to self: maybe add more
          content]
        </p>
        <p></p>
        <h2>Other Articles</h2>
        <li>
        <img src="{% static 'JannetLee/images/Marriott_.png' %}" alt="image for other articles" width="100" height="100" /> - <a href="bestpractices.html">Marriott Data breach</a>
        </li>
        <li>
        <img src="{% static 'JannetLee/images/TollGroup.png' %}" alt="image for other articles" width="100" height="100" /> - <a href="bestpractices.html">Toll Group Ransomware Attacks</a>
        </li>
        <li>
        <img src="{% static 'JannetLee/images/istockphoto-845470768-612x612.jpg' %}" alt="image for other articles" width="100" height="100" /> - <a href="bestpractices.html">Sopra Steria Ransomware</a>
        </li>
      </div>
    </div>
  </div>
</body>

{% include 'footer.html' %}
{% endblock %}