{% extends 'base.html' %} {% block content %}

<style>
  .menu ul {
    display: inline-flex;
    margin: 50px;
  }

  .menu ul li {
    list-style: none;
    margin: 0 20px;
    color: b2b1b1;
    cursor: pointer;
  }

  .logo img {
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
  }

  .active {
    color: #19dafa !important;
  }

  .banner {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: black;
  }

  .app-text {
    width: 50%;
    float: left;
  }

  .app-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
  }

  .app-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
  }

  .app-picture {
    width: 50%;
    float: right;
  }

  .app-picture img {
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
  }

  .app-text h2 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
  }

  .app-text a {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
  }

  .search-header-primary {
    margin-top: 75px;
    margin-left: 90px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 40px;
  }

  .search-header-secondary {
    margin-top: 13px;
    margin-left: 90px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 30px;
  }

  .article-content {
    margin-left: 90px;
    margin-top: 100px;
    font-family: monospace;
    font-size: 20px;
    width: 300px;
    height: 15px;
    padding: 20px 20px 20px 20px;
  }

  .article-thumbnail {
    margin-right: 75px;
  }

  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .card-content {
    padding: 1rem;
    background: gray;
  }

  .card-title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }

  .cards-item {
    display: flex;
    padding: 1rem;
  }

  .results-body {
    max-width: 1200px;
    margin: 0 auto;
  }
</style>

<body>
  {% if searched %}
  <h1 class="search-header-primary">Search results for "{{ searched }}"</h1>
  <br />
  <h2 class="search-header-secondary">Articles</h2>
  <br />
  <div class="results-body">
    <ul>
      {% for article in articles %}
      <a class="article-content" href="{% url 'articlepage' article.pk %}">
        <li class="cards-item">
          <div class="card">
            <div class="card-image"><img src="#" alt="post-pic-here" /></div>
            <div class="card-content">
              <h2 class="card-title">{{ article }}</h2>
            </div>
          </div>
        </li>
      </a>

      <!-- <a class="article-content" href="{% url 'articlepage' article.pk %}">
    <img class="article-thumbnail" src="#" alt="article_image" />
    <div>|| {{ article }} ||</div>
  </a>
  <br /> -->
      {% endfor %}
    </ul>
  </div>

  {% else %}
  <h1 class="search-header-primary">
    No results. Try to use a different keyword or return to home page.
  </h1>
  {% endif %}
</body>

{% include 'footer.html' %}
{% endblock %}