* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background: #42455a;
}

.menu ul {
  display: inline-flex;
  margin: 50px;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  color: b2b1b1;
  cursor: pointer;
}

.logo img {
  width: 30px;
  margin-top: -7px;
  margin-right: 48px;
}

.active {
  color: #19dafa !important;
}

.banner {
  width: 80%;
  height: 70%;
  top: 25%;
  left: 130px;
  position: absolute;
  color: black;
}

.app-text {
  width: 50%;
  float: left;
}

.app-text h1 {
  font-size: 43px;
  width: 640px;
  position: relative;
  margin-left: 40px;
}

.app-text p {
  width: 650px;
  font-size: 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #919191;
}

.app-picture {
  width: 50%;
  float: right;
}

.app-picture img {
  width: 100%;
  margin-top: -20px;
  padding-left: 50px;
}

.app-text h2 {
  width: 640px;
  position: relative;
  margin-left: 40px;
}

.app-text a {
  width: 650px;
  font-size: 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #919191;
}

/* about body */
body {
  background: #673ab7;
  font-family: sans-serif;
}
form {
  width: 500px;
  margin: 8% auto;
  padding: 50px 0;
  text-align: center;
  box-shadow: 0 20px 40px rgb(0, 0, 0);
}

.input-box {
  margin: 30px auto;
  width: 80%;
  position: relative;
  box-shadow: 0 8px 10px rgb(0, 0, 0);
}

.input-box input {
  width: 100%;
  height: 40px;
  border: none;
  background: #efefef;
  padding-left: 50px;
}

button {
  width: 130px;
  height: 40px;
  margin-left: 10%;
  display: block;
  border: 0;
  font-size: 16px;
  outline: none;
  background: linear-gradient(to right, #4caf50, #00bcd4);
  box-shadow: 0 8px 10px rgb(0, 0, 0);
  cursor: pointer;
}
